section.home {
  width: 96%;
  max-width: 1080px;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

div.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  overflow: hidden;
}

.link {
  text-align: left;
  width: 100%;
  padding: 1rem;
}

a {
  color: #fff;
  font-size: clamp(0.9rem, 4vw, 1.5rem);
}

a#link-footer {
  text-align: center;
}

a#link-footer:hover {
  text-decoration: underline;
}

.link:nth-child(even) {
  background-color: #050814;
}

.link:nth-child(odd) {
  background-color: #121b3b;
}