section.home {
  width: 96%;
  max-width: 1080px;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

div.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  overflow: hidden;
}

.link {
  text-align: left;
  width: 100%;
  padding: 1rem;
}

.link:nth-child(even) {
  background-color: #050814;
}

.link:nth-child(odd) {
  background-color: #121b3b;
}

div.copiar-link {
  color: #fff;
  background-color: #050814;
  box-shadow: -2px 2px 1px 1px #121b3b;
  border: 1px solid #121b3b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;  
  padding: 1rem;
  border-radius: 0.5rem;
}

div.copiar-link:hover {
  cursor: pointer
}

div.copiar-link p {
  font-size: clamp(0.8rem, 2vw, 1rem);
}

p.mobile {
  display: none;
}

@media screen and (max-width: 520px) {
  p.mobile {
    display: inline;
  }

  p.pc {
    display: none;
  }
}